.panflin 
{
    
  
  font-size: 30px;
    margin-right: 300px ;
    margin-left: 300px; 
    
}   
*{ 
    font-family: 'Montserrat', sans-serif;
 
}    































